<div style='display:none' id="add_exam_schedule_details">
    <div id='add_exam_schedule_details' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
	                <div id="main-title">
						<div class="alert alert-info" align="Center"><h4>Exam Schedule</h4></div>
					</div>
					<form action="" id="" name="" method="post" class="">
						<div class="section_1">
							<div class="form_text"><label>Exam Name</label></div>
							<div class="form_input">
								<input type="text" name="exam_name" value="" ng-model="exam_name"> 
							</div>
							<div class="form_text">
								<label> Course</label>  
							</div>
							<div class="form_input">
								<select name="course" ng-model="course" ng-change="get_batch() ">
									<option value="">Select</option>
									<option ng-repeat="course in courses" value="[[course.id]]" >[[course.course]]
									</option>
								</select>
							</div>
							<div class="form_text">
								<label> Batch</label>  
							</div>
							<div class="form_input">
								<select name="batch" ng-model="batch" ng-change="get_fees_head()">
									<option value="">Select</option>
									<option ng-repeat="batch in batches" value="[[batch.id]]"  >[[batch.name ]]
									</option>
								</select>
							</div>
							<div class="form_text">
								<label> Semester</label>  
							</div>
							<div class="form_input">
								<select name="semester" ng-model="semester">
									<option value="">Select</option>
									<option ng-repeat="semester in semesters" value="[[semester.id]]"  >[[semester.semester]]
									</option>
								</select>
							</div>
							<div class="form_text">
								<label>Start Date</label>  
							</div>
							<div class="form_input">
								<input type="text" name="start_date" id="start_date"value="" ng-model="start_date">
							</div>
							<div class="form_text">
								<label>End Date</label>  
							</div>
							<div class="form_input">
								<input type="text" name="end_date" id="end_date"value="" ng-model="end_date">
							</div>
							<div class="form_text">
								<label>Exam Total</label> 
							</div>
							<div class="form_input">
								<input type="text" name="exam_total" value="" ng-model="exam_total" ng-change=""> 
							</div>
							<div class="form_text">
								<label>No.Subjects</label>
							</div> 
							<div class="form_input">
								<input type="text" name="no_subjects" value="" ng-model="no_subjects" ng-change="add_subjects()"> 
							</div>
							<div class="control">
								<table class="table stripped">
									<tr>
										<th>Subject Name</th>
										<th>Date</th>
										<th>Start Time</th>
										<th>End Time</th>
										<th>Total Mark</th>
										<th>Pass Mark</th>
									</tr>
									<tr ng-repeat="subject in subjects">
										<td>
											<input type="text" name="subject" id="" value="" ng-model="subject.subject_name">
										</td>
										<td>
											<input type="text" name="subject" id="subject_date_[[$index]]" value="" ng-model="subject.date" ng-click="attach_subject_datepicker()">
										</td>
										<td>
											<input type="text" name="end_time" value="" ng-model="subject.start_time"> 
										</td>
										<td>
											<input type="text" name="end_time" value="" ng-model="subject.end_time"> 
										</td>
										<td>
											<input type="text" name="total_mark" value="" ng-model="subject.total_mark" ng-change="calculate_total_marks()" />
										</td>
										<td>
											<input type="text" name="pass_mark" value="" ng-model="subject.pass_mark">
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div  align="Center">
						
							<div class="buttons">
								<p class="error_message"> [[validation_error]] </p>
								<p ng-show="error_flag" class="error_message">[[message]]</p>
								<input type="button" class="btn btn-info" value="Cancel" ng-click="close_popup()">
								<input type="submit" value="Submit" ng-click="save_new_exam_schedule()" class="btn btn-info">
								
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>





















