{% extends 'base.html' %}
{% block title %}Marks{% endblock title %}
{% block body_id %}marks{% endblock %}

{% block controller %}
	ng-controller="MarksController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block dialogue_popup %}
	
	      {% include 'exam/add_marks.html' %}
	      {% include 'exam/view_marks.html' %}
	      

{% endblock %}

{% block content %}
	
	<form class="" name="marks" method="post" action="">
			

			<div class="main-title">
				<div class="alert alert-info" align="Center">Marks </div>
					<div  align="Center">		
						<input type="button" class="btn btn-info" value="Add" ng-click="add_marks()">
						<input type="button" class="btn btn-info" value="View" ng-click="view_marks()">
		
					</div>
			</div>

	
</form>
		

{% endblock content %}