{% extends 'base.html' %}

{% block body_id %}edit_expense{% endblock %}

{% block title %}Edit Expense{% endblock title %}

{% block controller %}
	ng-controller="ExpenseController" ng-init="init('{{csrf_token}}', '{{cash_in_hand}}' ,'{{expense.id}}')"   
{% endblock controller %}

{% block content %}

	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Edit Expense</h4></div>
	</div>

	<div class="expense_form_container">
		<form name="add_expense" method="post">
			<div class="form_contents">
				<div class="section_1">
					<div class="formrow">
						<div class="formtext">
							<label for="voucher_no">Voucher No :</label>
						</div>
						<div class="forminput">
							<input type="text" name="voucher_no" ng-model="expense.voucher_no" id="voucher_no">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="date">Date :</label>
						</div>
						<div class="forminput">
							<input type="text" name="date" id="date" ng-model="expense.date" >
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="project">Select Project :</label>
						</div>
						<div class="forminput">
							<select name="project" ng-model="expense.project_id" >
								<option value="select">Select</option>
								<option ng-repeat="project in projects" value="[[project.id]]" ng-selected="expense.project_id == project.id">[[project.name]]</option>
							</select>
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="expense_head">Select Head :</label>
						</div>
						<div class="forminput">
							<select name="expense_head" ng-model="expense.expense_head_id">
								<option value="select">Select</option>
								<option ng-repeat="head in expense_heads" value="[[head.id]]" ng-selected="expense.expense_head_id == head.id">[[head.head_name]]</option>
								<option value="other" ng-click="add_expense_head()">Other</option>
							</select>
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="cash_in_hand">Cash In Hand :</label>
						</div>
						<div class="forminput">
							<input type="text" name="cash_in_hand" id="cash_in_hand" value="{{cash_in_hand}}" readonly>
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="amount">Amount :</label>
						</div>
						<div class="forminput">
							<input type="text" name="amount" ng-model="expense.amount">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext" id="radio_text">
							<label for="payment_mode">Payment Mode:</label>
						</div>
						<div class="forminput" id="radio_input">
							<input type="radio" name="payment_mode" ng-model="expense.payment_mode" value="cash" ng-change="payment_mode_change('cash')"><label>Cash</label>
							<input type="radio" name="payment_mode" ng-model="expense.payment_mode" value="cheque" ng-change="payment_mode_change('cheque')"><label>Cheque</label>
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="narration">Narration :</label>
						</div>
						<div class="forminput">
							<textarea name="narration" ng-model="expense.narration"></textarea>
						</div>
					</div>
				</div>
				<div class="section_2">
					<div class="formrow">
						<div class="formtext">
							<label for="chequeno">Cheque No :</label>
						</div>
						<div class="forminput">
							<input type="text" name="chequeno" ng-model="expense.cheque_no" ng-readonly="payment_mode_selection">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="cheque_date">Cheque Date :</label>
						</div>
						<div class="forminput">
							<input type="text" name="cheque_date" id="cheque_date" value="" ng-model="expense.cheque_date" ng-readonly="payment_mode_selection">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="bank_name">Bank Name :</label>
						</div>
						<div class="forminput">
							<input type="text" name="bank_name" ng-model="expense.bank_name" ng-readonly="payment_mode_selection">
						</div>
					</div>
					<div class="formrow">
						<div class="formtext">
							<label for="branch">Branch :</label>
						</div>
						<div class="forminput">
							<input type="text" name="branch" ng-model="expense.branch" ng-readonly="payment_mode_selection">
						</div>
					</div>
				</div>	
				
			</div>
			<div ng-show="error_flag">
				<p class="error_message">[[error_message]]</p>
			</div>
			<div class="buttons">
				<a href="" class="btn btn-info" ng-click="edit_expense()">Submit</a>
				<a href="{% url 'home' %}" class="btn btn-info">Cancel</a>
			</div>
			
		</form>

	</div>

{% endblock content %}