{% extends 'base.html' %}
{% block title %}Search{% endblock title %}
{% block body_id %}enquiry_search{% endblock body_id %}

{% block controller %}ng-controller="AdmissionController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block dialogue_popup %}
    {% include 'add_student.html' %}
    
                
{% endblock %}
{% block content %}

	
        <div id="main-title">
            <div class="alert alert-info" align="Center">
                <h4>Student Registration</h4>
            </div>
            
        </div>
        <div class="control">
            <div class="formtext">
                    <input type="radio"  ng-model="admission_type" value="Enquiry" ng-click="change_admission_type('Enquiry')"><label>From Enquiry</label>
            </div>
            <div class="formtext">
                    <input type="radio" ng-model="admission_type" value="Admission" ng-click="change_admission_type('Admission')"><label>Direct Admission</label>
             </div> 

        </div> 
        <div class="section_1" ng-show="show_enquiry_search">
            <h2> Search Enquiry </h2>
                <div class="formtext">
                    <label > <strong>Search by :</strong> [[search.student_name]] - [[search.enquiry_num]] </span></label> 
                    <div class="formrow">
                        <div class="formtext">
                            <label >Student Name</label>
                        </div>
                        <div class="forminput">      
                            <input class="form-control" type="text" ng-style="alert_style" name="student_name" ng-model="search.student_name" id="student_name">
                        </div>
                        
                    </div>
                    
                    <div class="button_control">
                        <input type="submit" name="submit" value="Search Enquiries" ng-click="enquiry_search()">
                        <br>
                        <p  class="error_message">[[error_message]]</p>
                        
                    </div>

                    
                    <div class="enquiry_list">
                        <div class="not_found" ng-hide="no_enquiries"> 
                            <p class="error_message">[[ count ]] enquiry(s) found.</p>
                        </div>
                        <div class="enquiry" ng-repeat="enquiry in enquiries">
                            
                            <h2>Enquiry num of student [[search.student_name]] </h2>
                            
                            <p>Enquiry Number: [[enquiry.auto_generated_num]]</p>
                           
                            <br>            
                            <br>        
                        </div>
                    </div>
           
                    <div class="not_found" ng-show="no_enquiries">

                        <p class="error_message">No Enquiries found for this Student. </p>
                        <p>Your search [[search.student_name]]- [[search.enquiry_num]]  did not match any documents.</p>
                        <p>Suggestions:</p>
                        <ul>
                            <li>Please check your spelling .</li>
                        </ul>               
                    </div>   
                 

                </div>
         </div>
        <div class="section_1" >
            <div class="formrow">
                <h2>Admission Form</h2>
                <div ng-show="show_enquiry_search">
                    <div class="formtext">
                        <label> Enquiry Number</label>  
                    </div>
                    <div class="forminput">
                        <input type="text" name="enquiry_num" ng-change="get_enquiry_details()" ng-model="enquiry_num">
                    </div>
                </div>
                <div class="formtext">
                    <label> Name</label>  
                </div>
                <div class="forminput">
                    <input type="text" name="student_name" value="" ng-model="student_name">
                </div>
                <div class="formtext">
                    <label > Roll No</label>  
                </div>
                <div class="forminput">
                    <input type="text" name="roll_number" value="" ng-model="roll_number">
                </div>
                <div class="formtext">
                    <label> Course</label>  
                </div>
                <div class="forminput">
                    <select name="course" ng-model="course" >
                        <option value="">Select</option>
                        <option ng-repeat="course in courses" value="[[course.id]]" >[[course.name]]
                        </option>
                    </select>
                </div>
                <div class="formtext">
                    <label> Batch</label>  
                </div>
                <div class="forminput">
                    <select name="batch" ng-model="batch" ng-change="get_fees_head()">
                        <option value="">Select</option>
                        <option ng-repeat="batch in batches" value="[[batch.id]]"  >[[batch.batch_time]]
                        </option>
                    </select>
                </div>
                <div class="formtext">
                    <label> Qualification</label>  
                </div>
                <div class="forminput">                         
                    <input type="text" name="qualifications" value="" ng-model="qualifications">
                </div>
               
                <div class="formtext">
                    <label> DOB</label>  
                </div>
                <div class="forminput">                         
                    <input type="text"name="dob" value="" ng-model="dob" id="dob"></text>
                </div>
                <div class="formtext">
                    <label>Address</label> 
                </div>
                <div class="forminput">                         
                    <textarea name="address" value="" ng-model="address"></textarea>
                </div>
                <div class="formtext">
                    <label > Mobile </label>            
                </div>
                <div class="forminput">                         
                    <input type="text"  name="mobile_number" value=""  ng-model="mobile_number">
                </div>
                <div class="formtext">
                    <label> Email</label>       
                </div>
                <div class="forminput">                         
                    <input type="text"name="email" value="" ng-model="email"></textarea>                        
                </div>
                <div class="formtext">
                    <label>Blood Group</label>      
                </div>
                <div class="forminput">                         
                    <select ng-model="blood_group">
                        <option value="">Select</option>
                        <option value="A-">A-</option>
                        <option value="A+">A+</option>
                        <option value="B-">B-</option>
                        <option value="B+">B+</option>
                        <option value="AB-">AB-</option>
                        <option value="AB+">AB+</option>
                        <option value="O-">O-</option>
                        <option value="O+">O+</option>
                    </select>                   
                </div>
                <div class="formtext">
                    <label > Date of join</label>
                </div>
                <div class="forminput">                         
                    <input type="text"name="doj" value="" ng-model="doj" id="doj"></text>
                </div>
                <div class="formtext">
                    <label>Photo</label>
                </div>
                <div class="forminput">
                    <input type="file" fileread="photo_img.src"/>
                    <input type="hidden" ng-model="photo_img.src">
                </div>
            </div>
            <div class="formrow">
                <div class="formtext">
                    <label> Cadd Registration Number</label>
                </div>
                <div class="forminput">
                    <input type="text"name="cadd_registration_no" value="" ng-model="cadd_registration_no">
                </div>
                <div class="formtext">
                    <label>Certificates </label>
                </div>
                <div class="forminput">
                    <textarea name="certificates_submitted" value="" ng-model="certificates_submitted"> </textarea>
                </div>
                
                <div class="formtext">
                    <label>ID Proofs </label>
                </div>
                <div class="forminput">
                    <textarea name="id_proof" value="" ng-model="id_proof"></textarea> 
                </div>
                <div class="control">
                    <label> Father/Mother/Guardian Details</label>
                    <label>&nbsp;</label>
                </div>              
                <div class="formtext">
                    <label> Name</label>                
                </div>
                <div class="forminput">
                    <input type="text" name="guardian_name" value="" ng-model="guardian_name">
                </div>
                <div class="formtext">
                    <label> Relationship</label>
                </div>
                <div class="forminput">
                    <textarea name="relationship" value="" ng-model="relationship"></textarea>
                </div>  
                <div class="formtext">
                    <label > Mobile </label> 
                </div>
                <div class="forminput">
                    <input type="text"  name="guardian_mobile_number" value=""  ng-model="guardian_mobile_number">
                </div>
                 <div class="control">
                    
                    <label>&nbsp;</label>
                </div>  
                <div class="formtext">
                    <label> Fees</label>
                </div>
                <div class="forminput">
                    <input type="text" name="fees" value="" ng-model="fees">
                </div> 
                <div class="formtext">
                    <label> No of Installmets</label>
                </div>
                <div class="forminput">
                    <input type="text" name="no_installments" value="" ng-model="no_installments">
                </div>
                <div class="formtext">
                    <label> Installmets</label>
                </div>
                <div class="forminput">
                    <input type="text" name="installments" value="" ng-model="installments">
                </div>
            </div>
            <div  align="Center">       
            <div class="buttons">
                <p class="error_message"> [[validation_error]] </p>
                <input type="submit" value="Submit" ng-click="save_new_student()" class="btn btn-info">             
            </div>
        </div>
        </div>

{% endblock content %}