<html>
	<body> 
		<h2>Today's Follow Ups</h2>
		<br>
		<p>
			Please look forward with the following details.
			{% if enquiries|length > 0 %}
				<table border="1" style="width:50%; border-collapse: collapse; color:#000000;">
					<tr style="border-collapse: collapse;">
						<th style="border-collapse: collapse;">Enquiry No</th>
						<th>Student Name</th>
						<th>Enquiry Date</th>
					</tr>
					{% for enquiry in enquiries %}
						<tr>
							<td style="border-collapse: collapse;">{{enquiry.enquiry_no}}</td>
							<td>{{enquiry.name}}</td>
							<td>{{enquiry.date}}</td>
						</tr>
					{% endfor %}
				</table>
			{% else %}
				<p>No Follow Ups</p>
			{% endif %}
		</p>
	</body>
</html>