{% extends 'base.html' %}
{% block title %}Staff Permissions{% endblock title %}
{% block body_id %}staff_permission{% endblock %}

{% block controller %}
	ng-controller="PermissionController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block dialogue_popup %}
	{% include 'add_staff.html' %}
	{% include 'view_staff_details.html' %} 
	           	
{% endblock %}

{% block content %}
	<div class="main-title">
		<div class="alert alert-info" align="Center">Permissions </div>
	</div>
		<!-- <div class="section_1">
			<div class="formrow">
				<div class="formtext">
					<label> Staff</label>
				</div>
				<div class="forminput">
					<input type="text" name="first_name" ng-model="staff_name" ng-change="search_staff()" autocomplete="off"/>
					<div class="search_list" ng-show="staffs.length > 0">
						<div ng-repeat="staff in staffs" class="search_list_item" ng-class="{'highlight': $index == focusIndex}" ng-click="select_staff(staff)" >
	    					<span>[[staff.first_name]] [[staff.last_name]]</span>
	    				</div>
					</div>
				</div>  
			</div>
			<div class="formrow">
			</div>
			<div class="formrow">
			</div>
			<div class="formrow">
				<div class="formtext">
					<label> Attendance</label>
				</div>
				<div class="forminput">
					<input type="checkbox" value="attendance"/> 
				</div>  
				<div class="formtext">
					<label> Attendance</label>
				</div>
				<div class="forminput">
					<input type="checkbox" value="attendance"/> 
				</div> 
				<div class="formtext">
					<label> Attendance</label>
				</div>
				<div class="forminput">
					<input type="checkbox" value="attendance"/> 
				</div> 
				<div class="formtext">
					<label> Attendance</label>
				</div>
				<div class="forminput">
					<input type="checkbox" value="attendance"/> 
				</div> 
			</div>
		</div> -->
	<div class="form_container single_column_container">
		<form name="permission_form">
			<div class="control">
				<label> Staff</label>
				<input type="text" name="first_name" ng-model="staff_name" ng-change="search_staff()" autocomplete="off"/>
				<div class="search_list" ng-show="staffs.length > 0">
					<div ng-repeat="staff in staffs" class="search_list_item" ng-class="{'highlight': $index == focusIndex}" ng-click="select_staff(staff)" >
						<span>[[staff.first_name]] [[staff.last_name]]</span>
					</div>
				</div>
			</div>
			<br> 
			<p class="error_msg">[[no_staff_message]]</p>
			<div class="control">
				<input type="checkbox" ng-model="permission.attendance_module">
				<label>Attendance Module</label><br>
			</div>
			<div class="control">
				<input type="checkbox" ng-model="permission.student_module">
				<label>Student Module</label><br>
			</div>
			<div class="control">
				<input type="checkbox" ng-model="permission.master_module">
				<label>Master Module</label><br>
			</div>
			<div class="control">
				<input type="checkbox" ng-model="permission.fees_module">
				<label>Fees Module</label><br>
			</div>
			
			<p class="error_msg">[[validate_staff_permission]]</p>
			<input type="submit" value="Set Permission" ng-click="save_permissions()">
		</form>
	</div>

{% endblock %}